.App {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.Search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
}

.Grid{
  display: flex;
}
